<!-- Internal Documentation
File Name: footer.ejs
Author's Name: Jesse Cannon
Website Name: https://jcannon-comp2106-assignment1.herokuapp.com/
File Description: My footer.ejs page that is attached to all pages
-->

<footer>
    &copy; 2018 | COMP2106 Jesse Cannon Assignment 1 Portfolio
<div>
    <a href="https://www.linkedin.com/in/jesse-cannon-678294127"> <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    <a href="https://github.com/JCannon1"> <i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
</div>
</footer>
</body>
</html>