<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>
<body>

<nav class="navbar navbar-light navbar-expand-lg">
    <a class="navbar-brand" href="/"><img src="../images/Jesse-Cannon-Logo.png" height="150px" width="210px"></a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
</nav>
