<!-- Internal Documentation
File Name: about.ejs
Author's Name: Jesse Cannon
Website Name: https://jcannon-comp2106-assignment1.herokuapp.com/about
File Description: My about.ejs page that is attached to index.js to populate this page with information
-->

<% include shared/header.ejs %>

<div class="allTitles">
    <h1><%= title %></h1>
</div>

<div class="aboutContainer">
    <div class="row">
        <div class="col-sm-img">
            <img src="../images/Jesse-Cannon-photo.JPG" alt="My Photo" height="380" width="285">
        </div>
        <div class="col-sm">
            <div class="aboutText">
                <p><%= message %></p>
                <p><%= message2 %></p>
            </div>
        </div>
    </div>
</div>

<% include shared/footer.ejs %>