<% include shared/header.ejs %>

<div class="allTitles">
    <h1><%= title %></h1>
    <p><%= message %></p>
</div>

<form>
    <div class="form-group">
        <label for="FullName">Full Name</label>
        <input type="text" class="form-control" id="FullName" placeholder="Enter Full Name" required>
    </div>
    <div class="form-group">
        <label for="Number">Contact Number</label>
        <input type="tel" class="form-control" id="ContactNumber" placeholder="Enter Phone Number" required>
    </div>
    <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" placeholder="Enter Your Email" required>
    </div>
    <div class="form-group">
        <label for="Message">Your Message</label>
        <textarea class="form-control" rows="3" id="Message" placeholder="Enter Your Message" reuired></textarea>
    </div>
    <button type="submit" id="SendButton" class="btn btn-primary">Send</button>
    <button type="reset" id="ResetButton" class="btn btn-warning">Reset</button>
</form>

<% include shared/footer.ejs %>