<% include shared/header %>

<div class="jumbotron">
  <h1 class="display-3"><%= title %></h1>
  <p class="lead">Welcome to <%= message %></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/projects" role="button">View my Projects</a>
  </p>
</div>

<% include shared/footer %>