<% include shared/header %>

    <div class="container">
      <img src="../images/pexels-photo-392018.jpeg" class="heroImage" alt="Hero Image" />
      <div class="headingText"><%= title %></div>
      <div class="text">Welcome to <%= message %></div>
    </div>

<% include shared/footer %>