<% include shared/header.ejs %>

<h1><%= title %></h1>
<p><%= message %></p>

    <!-- added the project image and link -->
    <h2>Project 1  - NHL Database</h2>
        <a href="https://jessecannon-assignment2-comp2084.azurewebsites.net/">
            <img src="../images/Project1.png" height="400" width="800">
        </a>

    <!-- added the second project image and link -->
    <h2>Project 2 - 99: Stories of the Game Gretzky Book Sale</h2>
        <a href="https://comp2081-assignment2-jessecannon.azurewebsites.net/">
            <img src="../images/Project2.png" height="400" width="800">
        </a>

    <!-- added the third project image and link -->
    <h2>Project 3 - Star Wars Movie Poster</h2>
        <a href="http://star-wars-movie-poster-jessecannon.azurewebsites.net/Assignment-3-Movie-Poster/assignment3movieposter.html">
            <img src="../images/Project3.png" height="400" width="800">
        </a>

    <!-- added the fourth project image and link -->
    <h2>Project 4 - Spartan Sports</h2>
        <a href="https://jessecannon-comp2081-assignment1.azurewebsites.net/">
            <img src="../images/Project4.png" height="400" width="800">
        </a> 

<% include shared/footer.ejs %>