body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  top: 150px;
}

a {
  color: #00B7FF;
}
/* Added a background hero image */
.heroImage {
  background-image: url(../images/pexels-photo-392018.jpeg);
  height: 1000px;
  width: 1300px;
  background-size: auto;
  position: relative;
  top: 0px;
  right: 90px;
  /* Changed the z-index so the navbar is in front of the image */
  z-index: -1;
}
/* Created a container to hold my image and text */
.container {
  position: relative;
  text-align: left;
  color: white;
  font-size: 40px;
  /* Changed the z-index so the navbar is in front of the container */
  z-index: -1;
}
/* Heading text over the image */
.headingText {
  position: absolute;
  top: 150px;
  left: 350px;
  color: white;
}
/* Text over the image */
.text {
  position: absolute;
  top: 250px;
  left: 350px;
  font-size: 20px;
  border: 1px solid darkgrey;
  border-radius: 4px;
  background: darkgrey;
  opacity: 0.9;
}
/* Fiex the navbar to the top of the page */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
}
