/* Internal Documentation
File Name: style.css
Author's Name: Jesse Cannon
Website Name:
File Description: My main stylesheet
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  top: 150px;
}
a {
  color: #00B7FF;
}
/* Added a jumbotron on the home page */
.jumbotron {
  background-image: url(../images/pexels-photo-392018.jpeg);
  background-size: 100%;
  /* Changed the z-index so the navbar is in front of the image */
  z-index: -1;
  color: white;
  background-repeat: no-repeat;
}
/* Fixed the navbar to the top of the page */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
}
/* Made 2 of the project previews move beside the others */
.projectPreview1 {
  float: left;
  width: 50%;
}

.skillsContainer {
  z-index: -1000;
}
/* Centered the Project Previews Text */
.projectPreviewsTitle {
  text-align: center;
  border: none;
  background-color: rgb(13, 88, 13);
  color: white;
  opacity: 0.7;
  border-radius: 25px;
}
/* Centered all of the projects on tbe page */
.projectsContainer {
  text-align: center;
}
/* Aligned all titles to the center */
.allTitles {
  text-align: center;
}
/* Gave the navbar a lightgrey border */
.navbar {
  border: 1px solid lightgrey;
}
/* Adding a hover opacity effect so the user knows where they can click */
.projectPreviewHover:hover {
  opacity: 0.7;
}
/* Made the text in my about section larger */
.aboutText {
  font-size: 20px;
}